.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.legend-overlay {
    position: absolute;
    background: none;
    font-family: Arial, sans-serif;
    height: 70px;
    width: 300px;
    left: 500px;
    bottom: 0px;
}
